
@import '../variables/variables';
@import '../commonstyles/commonstyles.scss';

@mixin otp-area($color){
    text-decoration: none;
    font-weight: 700;
    color: $black;
}

.input-group > .form-control{
    width: 40%;
    padding: 6px 38px;
    margin-left: 81px;
}

.bg-blue{
    @extend .bg-blue;
    padding-top: 1px;
}
.width{
    @extend .width;
}

.fs-small, .get-help{
    @extend .fs-small-get-help;
}
.otp-sec{
    @extend .secs;
}
.otp-sec a{
    @include otp-area(blue)
}

.input-group{
    display: block;
}


.form-control{
    border-radius: 0% ;
    border: 1 px solid $black ;
    color: $text-color;
    padding: 0 75px;
    box-shadow: 0px 0px 4px -4px;
    font-size: $fs-13;
}
.form-control.is-invalid{
    color: $text-color;
}
.btn {
    border-radius: 0px;
    font-size: $fs-13;
}
.otp-page{
    @extend .page-box-shadow;
}
.otp-sec h5{    
    @extend .h5;
}
.otp-sec .fs-s{
    @extend .fs-s;
}

.otp-img img{
    width: 33%;
}
.otp-img{
    background-color: $white;
    padding: 21px 0px 0px 11px;
}
.otp-timer .cursor{
    cursor: pointer;
}
.btnn{
    border-radius: 6px;
    font-size: 12px;
    background-color: $bg-blue;
    color: $black;
}
.modal-content{
    background-color: $bg-blue;
}


@media (min-width:480px){
    .input-group input[type="tel"]{
        font-size: 16px;
    }
    .input-group > .form-control{
        width: 64%;
        padding: 7px 120px;
        margin-left: 78px;
    }
    .btn {
        border-radius: 0px;
        font-size: $fs-13;
        padding: 7px 116px;
    }
    .modal-footer .btnn{
        border-radius: 6px;
        font-size: 12px;
        padding: 7px 30px;
        background-color: $bg-blue;
        color: $black;
    }
}

@media (min-width:576px){
    .ms-4 {
        margin-left: 6.1rem !important;
      }
      .input-group > .form-control{
        width: 64%;
        padding: 7px 150px;
        margin-left: 98px;
    }  
    .modal-dialog {
        max-width: 400px;
        
      }
}

@media (min-width:768px){
    .bg-blue{
        padding-top: 25px;
    }
    .margin-left{
        margin-left: 182px;
    
    }
    .input-group > .form-control{
        padding: 7px 90px;
        margin-left: 60px;
    }
    .btn{
        padding: 7px 85px;
    }
    
}
@media (min-width:992px){
    .bg-blue{
        padding-top: 45px;
    }
    .margin-left{
        margin-left: 332px;
    }
    .input-group > .form-control{
        width: 76%;
        padding: 7px 90px;
        margin-left: 34px;
    }
    
}
@media (min-width:1200px){
    .margin-left{
        margin-left: 437px;
    }
    .input-group > .form-control{
        width: 86%;
        padding: 7px 93px;
        margin-left: 18px;
    }
    
}
@media (min-width:1366px){
    .margin-left{
        margin-left: 517px;
    }
    .input-group input[type="tel"]{
        font-size: 16px;
    }
    .btn{
        padding: 7px 102px;
    }
    .input-group > .form-control{
        padding: 7px 104px;
    }
    .input-group > .form-control{
        margin-left: 19px;
    }
}



