<section class="bg-blue">
  <div class="margin-left col-md-6 col-lg-4 col-xl-3">
    <div class="otp-page mt-5">
      <div class="otp-img">
        <img
          class="img-fluid"
          src="https://constant.myntassets.com/pwa/assets/img/3a438cb4-c9bf-4316-b60c-c63e40a1a96d1548071106233-mobile-verification.jpg"
          alt="otp-img"
        />
      </div>
      <div class="otp-sec px-4 py-2">
        <div>
          <h5>Verify with OTP</h5>
        </div>
        <div class="fs-small">Sent to {{ inputData }}</div>
        <form
          [formGroup]="otpForm"
          (ngSubmit)="onSubmit()"
          class="input-group mt-4"
        >
          <input
            type="text"
            class="form-control"
            name="otpNo"
            formControlName="otpNo"
            [ngClass]="{ 'is-invalid': otpNo.touched && otpNo.invalid }"
          />
          <div class="fs-small ms-4" *ngIf="otpNo.touched && otpNo.invalid">
            <div *ngIf="otpNo.errors.required">Please enter valid OTP</div>
            <div *ngIf="otpNo.errors.minlength">OTP should be 4 digits</div>
          </div>

          <div class="button mt-3 text-center">
            <button
              [disabled]="otpForm.invalid"
              type="button"
              (click)="goToOtp()"
              class="btn btn-secondary text-uppercase fw-bold"
            >
              verify
            </button>
          </div>
        </form>
        <div class="mt-4">
          <div class="otp-timer">
            <p class="text-secondary fs-small" *ngIf="num > 0">     <!-- jab tak num ki value greater than 0 hai, tab tak hi ye block dikhega -->
               Resend OTP in 
              <span class="text-dark fw-bold" *ngIf="num > 0">{{
                this.num
              }}</span>
            </p>
            <a (click)="restartTimer()">
              <p class="text-secondary fs-small" *ngIf="num === 0">
                Resend the OTP
              </p>
            </a>
          </div>
          <div class="fs-small">
            <p class="text-secondary">
              <a routerLink="/login">Back to Login</a>
            </p>
          </div>
          <div class="get-help mt-4">
            <p class="text-secondary">
              Have trouble logging in? <span><a href="#">Get Help</a></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
