@import "../variables/variables";


.header{
    background-color: $white;
    position: fixed;
    width: 100vw;
    top: 0;
    box-shadow: 0px 1px 4px $nav-shadow;
    z-index: 1000;
}
.nav-logo img {
    width: 50px;
}
a{
    text-decoration: none;
    color: $nav-clr;  
    font-size: 13px;
      
}
.nav-menu a{
    font-weight: 700;
    transition: ease 0.1s;
    
&:hover{
    border-bottom: 4px solid $nav-borderbtm;
}
}
.searchbar input{
    outline: none;
    background-color: $bg-blue;
    border: none;
    padding: 5px 20px;
}
.searchbar>i{
    background-color: $bg-blue;
    padding: 9px;
}

.list-group{
    --bs-list-group-border-color: none;
    --bs-list-group-bg: $bg-blue;
    
    
}
.offcanvas {
    background-color: $bg-blue;
}
.offcanvas-title{
    color: $text-color;
    font-family:cursive;
}
.list-group .list-group-item{
    font-size: 16px;
    color: $text-color;
    &:hover{
        font-size: 16px;
        font-weight: 700;
        color: $text-color;
    }
}
