@import '../variables/variables';
@import '../commonstyles/commonstyles.scss';

@mixin login-area($color){
    text-decoration: none;
    font-weight: 700;
    color: $black;
}

.bg-blue{
    @extend .bg-blue;
    padding-top: 33px;
}
.width{
    @extend .width;
}

.fs-small, .get-help{
    @extend .fs-small-get-help;
}
.login-sec{
    @extend .secs;
}
.login-sec a{
    @include login-area(blue)
}

.input-group {
    position: relative;
    display: block;
}

.input-group input[type="tel"] {
  padding-left: 45px; 
  box-shadow: 0px 0px 6px -3px;
  font-size: $fs-13;
}

.input-group input[type="tel"]::placeholder{
    font-size: $fs-13;
    color: $text-color;
}

.input-group::before {
  content: "+91 | ";
  position: absolute;
  left: 5px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: $fs-13;
  color: $text-color;
  z-index: 1000;
}
.form-control{
    border-radius: 0% ;
    border: 1 px solid $black; 
    color: $text-color
}
.form-control.is-invalid{
    color: $text-color
}
.btn {
    border-radius: 0px;
    padding: 10px 105px;
    font-size: 12px;
}
.login-page{
    @extend .page-box-shadow;
}
.login-sec h5{
    @extend .h5;
}
.login-sec .fs-s{
    @extend .fs-s;
}

@media (min-width:480px){
    .btn{
        padding: 10px 185px;
    }
    .input-group input[type="tel"]{
        font-size: 16px;
    }
}

@media (min-width:768px){
    .bg-blue{
        padding-top: 25px;
    }
    .margin-left{
        margin-left: 182px;
    
    }
    .btn{
        padding: 10px 137px;
    }
}
@media (min-width:992px){
    .bg-blue{
        padding-top: 45px;
    }
    .margin-left{
        margin-left: 332px;
    }
    .btn{
        padding: 10px 110px;
    }
}
@media (min-width:1200px){
    .margin-left{
        margin-left: 437px;
    }
    .btn{
        padding: 10px 95px;
    }
}
@media (min-width:1366px){
    .bg-blue{
        padding-top: 100px;
    }
    .margin-left{
        margin-left: 517px;
    }
    .input-group input[type="tel"]{
        font-size: 16px;
    }
    .btn{
        padding: 10px 114px;
    }
}



