*{
    font-family: Assistant,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

@mixin login-area($color){
    text-decoration: none;
    font-weight: 700;
    color: rgba(0, 0, 0,);
}

.bg-blue{
    background: #F4F7F9;
    height: 100vh;
    padding-top: 33px;
}
.width{
    width: 25%;
    padding: 9% 0% 5% 50%;
}

.fs-small, .get-help{
    font-size: 11px;
}
.login-sec{
    background:white;
}
.login-sec a{
    @include login-area(blue)
}

.input-group {
    position: relative;
    display: block;
}

.input-group input[type="tel"] {
  padding-left: 45px; 
  box-shadow: 0px 0px 6px -3px;
  font-size: 13px;
}
.input-group input[type="tel"]::placeholder{
    font-size: 13px;
}

.input-group::before {
  content: "+91 | ";
  position: absolute;
  left: 5px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  color: rgba(40,44,63,.8);
  z-index: 1000;
}
.form-control{
    border-radius: 0% ;
    border: 1 px solid black ;
    color: rgba(40,44,63,.8);
}
.form-control.is-invalid{
    color: rgba(40,44,63,.8);
}
.btn {
    border-radius: 0px;
    padding: 10px 105px;
    font-size: 12px;
}
.login-page{
    box-shadow: 0px 0px 20px -12px;
}
.login-sec h5{
    font-weight: 600;
    color: rgba(40,44,63,.8);
}
.login-sec .fs-s{
    font-size: 9px;
    color: red;
}

@media (min-width:480px){
    .btn{
        padding: 10px 185px;
    }
    .input-group input[type="tel"]{
        font-size: 16px;
    }
}

@media (min-width:768px){
    .bg-blue{
        padding-top: 25px;
    }
    .margin-left{
        margin-left: 182px;
    
    }
    .btn{
        padding: 10px 137px;
    }
}
@media (min-width:992px){
    .bg-blue{
        padding-top: 45px;
    }
    .margin-left{
        margin-left: 332px;
    }
    .btn{
        padding: 10px 110px;
    }
}
@media (min-width:1200px){
    .margin-left{
        margin-left: 437px;
    }
    .btn{
        padding: 10px 95px;
    }
}
@media (min-width:1366px){
    .bg-blue{
        padding-top: 100px;
    }
    .margin-left{
        margin-left: 517px;
    }
    .input-group input[type="tel"]{
        font-size: 16px;
    }
    .btn{
        padding: 10px 114px;
    }
}



